/* fonts */
@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/Frutiger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/Frutiger_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* content */
html, body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  font-family: 'Frutiger';
  min-height: 100vh;
}
