/* fonts */
@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/Frutiger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url('../fonts/Frutiger_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* content */
html, body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  font-family: 'Frutiger';
  min-height: 100vh;
  overflow-x: hidden;
}

/* Intro Section */
.c-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding-bottom: 7rem;
}

.about-text {
  flex: 1;
  padding-right: 7rem;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
}

h1.name {
  font-family: 'Frutiger', sans-serif;
  font-size: 5rem;
  color: white;

  font-weight: bolder;
}
h2.fullstack {
  font-family: 'Frutiger', sans-serif;
  font-size: 2.5rem;
  color: #F3F5DF;
  font-weight: bolder;
}

h4 {
  font-weight: bold !important;
}

.profile-image {
  flex: 1;
}

.profile-image img {
  max-width: 30rem;
  min-height: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
  background-color: #F3F5DF;
  transition: all 0.2s ease-in-out;
  border-radius       : 50%;
  border: 0.3rem solid white;
}

@media (max-width: 800px) {
  .d-flex {
      flex-direction: column;
      align-items: center;
      transition: smooth;
  }

  .about-text,
  .profile-image {
      padding-right: 0;
      text-align: center;
  }

  .profile-image img {
      max-width: 80%;
      margin-bottom: 2rem;
  }

  .skills {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .skills {
    flex-direction: column;
    align-items: center;
  }

  .frontend,
  .backend,
  .languages,
  .devops {
      flex: unset;
      width: 100%;
      padding: 1rem 0;
  }
}

.center {
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

footer h6 {
  margin-bottom: 1rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.expand img {
  transition: transform 0.3s ease-in-out;
}

.expand img:hover {
  transform: scale(1.03);
}

/* Navbar */
nav {
  padding: '1rem';
  background-color: rgba(1, 47, 35, 0.95);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  font-family: 'Frutiger';
  font-weight: normal;
}

.navbar .container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Nav Links */

.nav-content {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 2rem;
  font-family: 'Frutiger';
  font-size: 1.3rem !important;
  font-weight: bolder;
}

.nav-content:hover {
  color: rgb(202, 202, 202) !important;
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

.navbar-collapse {
  background-color: rgba(1, 47, 35, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 200;
  width: 100vw;
  padding-top: 1rem;
}

.collapse.show .navbar-nav {
  background-color: var(--navy);
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-item .nav-link {
  color: #F3F5DF;
  display: block;
  text-align: center;
  width: 100% !important;
}

.navbar-toggler {
  border-color: white !important;
  margin-right: auto;
  margin-left: 1rem;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;
}

.frontend {
  flex: 1;
  display: flex;        /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  align-items: center;  /* Centers children horizontally */
  justify-content: center; /* Centers children vertically if needed */
  width: 100%;          /* Ensures the container takes full width if standalone */
  margin-top: 20px;
}
.backend {
  flex: 1;
  display: flex;        /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  align-items: center;  /* Centers children horizontally */
  justify-content: center; /* Centers children vertically if needed */
  width: 100%;          /* Ensures the container takes full width if standalone */
  margin-top: 20px;
}
.languages {
  flex: 1;
  display: flex;        /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  align-items: center;  /* Centers children horizontally */
  justify-content: center; /* Centers children vertically if needed */
  width: 100%;          /* Ensures the container takes full width if standalone */
  margin-top: 20px;
}
.devops {
  flex: 1;
  display: flex;        /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  align-items: center;  /* Centers children horizontally */
  justify-content: center; /* Centers children vertically if needed */
  width: 100%;          /* Ensures the container takes full width if standalone */
  margin-top: 20px;
}

/* Main container styles */
.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100vw;
  background: linear-gradient(to bottom, #F7F9EB 90%, #FFFFFF 100%);
  background-size: 'cover';
  background-position: 'center';
  background-position-y: 'fixed';
  background-attachment: 'fixed';
  color: #012F23;
  padding: 7rem 5rem;
  font-size: 1.2rem;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: row; /* Aligns children horizontally */
  align-items: center; /* Keeps items aligned at their center */
  justify-content: center; /* Centers items horizontally within the container */
  gap: 10px; /* Adds space between the image and text */
  margin-bottom: 10px; /* Adds some space between each image container */
}

.alt-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.alt-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.image-container:hover .alt-text {
  visibility: visible;
  opacity: 1;
}

.skills-p {
  width: 100%;
  padding: 2px;
  margin: 0 auto;
  /* text-align: justify; */
  /* font-weight: bold; */
}

/* Projects */
.projects {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background: linear-gradient(to bottom, #FFFFFF 95%, #F7F9EB 100%);
  color: 'black';

}

/* Contact Form */
.contact {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: #012F23;
}

.resizable {
  resize: vertical;
}

/* scrollbar */
::-webkit-scrollbar {
  height: 0px; /* height of total scrollbar */
  width: 0px; /* width of total scrollbar */
  background: #ffc99c; /* background of scrollbar */
  border: 0px solid #000; /* border around whole scrollbar */
}
